body {
    font-family: -apple-system;
    font-size: 30px;
    background-color: #fff4a1;
}

a {
    text-decoration: none;
    border: 5px double #100873;
    border-radius: 30px;
    margin: 7px;
    padding: 7px;
    background-color: #7972D8;
    color: black;
    margin-left: 150px;
}

footer p {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

footer h1 {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-family: Verdana;
}
